<!-- <p>tracker works!</p> -->

<h4>Your Balance is:</h4>
<h4 class="mb-2">${{balance}}</h4>

<div class="card-group mb-3">

  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title text-info" style="font-weight: bold!important;">Income : ${{ income }}</h5>
    </div>
    <!-- <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div> -->
  </div>

  <div class="card" style="width: 10rem;">
    <div class="card-body">
      <h5 class="card-title text-danger" style="font-weight: bold!important;">Expense : ${{ expense }}</h5>
    </div>
    <!-- <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div> -->
  </div>

</div>

