<p class="lead" style="font-weight: bolder;">Add new transaction: </p>
<hr>
<div style="width: 20rem;">
  <form action="" [formGroup]="form">
    <div class="form-group">
      <label for="Description">Description</label>
      <input id="Description" class="form-control" type="text" name=""
        placeholder="Enter text.." formControlName="description" required>
      <label for="Amount">Amount</label>
      <input id="Amount" class="form-control" type="number" name=""
        placeholder="Amount" formControlName="amount" required>
        <div>
          <label>
            <input type="radio" value="income" formControlName="type">
            <span>income</span>
          </label>
          <label>
            <input type="radio" value="expense" formControlName="type">
            <span>expense</span>
          </label>
        </div>
      <button [disabled]="form.invalid" class="btn btn-primary btn-block mt-2"
        type="submit"
        (click)="addTransaction()">Add Transaction</button>
    </div>
  </form>
</div>
