<!-- <p>transaction-history works!</p> -->
<p class="lead" style="font-weight: bolder;">History</p>

<div class="lead mb-2" *ngIf="isEmpty">
  No transactions to show..
</div>

<hr>
<div class="card mb-2" style="width: 20rem;" *ngIf="!isEmpty">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [ngClass]="{'primary-border': transcation.type === 'income', 'danger-border':transcation.type === 'expense' }" *ngFor="let transcation of transactions" style="font-size: large;">{{transcation.text}} : ${{transcation.amount}}</li>
  </ul>
</div>
