<!-- <p>transaction-form works!</p> -->

<p class="lead" style="font-weight: bolder;">Add new transaction: </p>
<hr>
<div style="width: 20rem;">
  <div class="form-group">
    <label for="Desscription">Description</label>
    <input id="Desscription" class="form-control" type="text" name="" placeholder="Enter text..">
    <label for="Amount">Amount</label>
    <input id="Amount" class="form-control" type="text" name="" placeholder="Amount">
    <button class="btn btn-primary btn-block mt-2" type="submit">Add Transaction</button>
  </div>

</div>
